body{
    color: #EBF4F6;
    background-color: #071952;
    font-family: "Catamaran", sans-serif;
    /*
    #088395
    #37B7C3
    */
}

.container {
    max-width: 1440px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

